@model Model.Order
@{
    ViewData["Title"] = "Make Order";
}
<h2>Сделать заказ</h2>
<div class="row">
    <hr />
    <form asp-controller="Home" asp-action="InsertData">
        <input type="hidden" name="Id" id="inputTextareaId" value="@Model.Id" /><br /><br />
        <input name="AddressFrom" id="inputTextareaAddressFrom" value="@Model.AddressFrom" asp-for="AddressFrom" placeholder="Откуда" required /><br /><br />
        <input name="AddressTo" id="inputTextareaAddressTo" value="@Model.AddressTo" asp-for="AddressTo" placeholder="Куда" required /><br /><br />
        <input name="Phone" id="inputTextareaPhone" value="@Model.Phone" asp-for="Phone" placeholder="tel. 1234567890" pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$" required /><br /><br />

        <input type="hidden" name="Price" id="inputTextareaPrice" value="@Model.Price" /><br />
        <button type="submit" class="btn btn-default">Принять заказ</button><br /><br />
    </form>
</div>

<div class="row">
    <hr />
    <form asp-controller="Home" asp-action="ShowOrders">
        <button type="submit" class="btn btn-default">Показать все заказы</button>
    </form>

    <hr />
</div>

@section Scripts{
    <script src="~/js/validation.js"></script>
}