@model Model.Order
@{
    ViewData["Title"] = "Make Order";
}

<div class="row">
    <form asp-controller="Home" asp-action="InsertData">
        <input type="hidden" name="Id" id="inputTextareaId" value="@Model.Id" />
        <input name="AddressFrom" id="inputTextareaAddressFrom" value="@Model.AddressFrom" placeholder="Откуда" required />
        <input name="AddressTo" id="inputTextareaAddressTo" value="@Model.AddressTo" placeholder="Куда" required />
        <input name="Phone" id="inputTextareaPhone" value="@Model.Phone" placeholder="Телефон" required />
        <input type="hidden" name="Price" id="inputTextareaPrice" value="@Model.Price" />
        <button type="submit" class="btn btn-default">Принять заказ</button>
    </form>
</div>
